{% extends "layout.html" %}

{% block content %}
<div class="container mt-5 m-auto w-full">
    <h1 class="text-center text-2xl font-semibold mx-auto">Publicaciones Recientes</h1>
</div>
{% if not posts %}
<div class="m-auto flex justify-center">
    <h1 class="text-lg font-semibold">Aún no hay entradas</h1>
</div>
{% endif %}
<div class="container mt-10 sm:w-11/12 p-6 w-full flex flex-wrap sm:grid sm:gap-6 sm:grid-cols-4", id="cardslister">
    {% for post in posts %}
    <div>
        <div class="border p-1 flex-auto">
            <img class="w-fill" src="{{ post.image.url }}" alt="{{ post.title }}">
            <h2 class="text-xl font-bold">{{ post.title }}</h2>
            <a class="block font-medium text-md dark:text-dark-white text-gray-800" href="/blog/post/{{ post.id }}">Ver
                Artículo Completo
                <i class="fas fa-angle-double-right"></i></a>
        </div>
        <i class="p-1 block text-xs">{{ post.date }}</i>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<!-- <script>
    if (screen.width < 640) {
        document.getElementById('cardslister').classList.add("w-full");
        document.getElementById('cardslister').classList.add(" flex");
        document.getElementById('cardslister').classList.add("flex-wrap");
    } else {
        document.getElementById('cardslister').classList.add("grid");
        document.getElementById('cardslister').classList.add("gap-6");
        document.getElementById('cardslister').classList.add("grid-cols-4");
    }
</script> -->
{% endblock %}